/*.container {*/
/*position: absolute;*/
/*top: 30%;*/
/*left: 10px;*/
/*text-align: center;*/
/*}*/

/*.container h2 {*/
/*font-size: 5rem;*/
/*}*/

/*.container a {*/
/*font-size: 1.4rem;*/
/*}*/

.content {
  background: #fff;
  padding: 24px;
  margin: 0;
  min-height: 280px;
  height: 100%;
  overflow: auto;
}

.show {
  display: block;
}
.hidden {
  display: none;
}
